body {
    font-family: Arial, sans-serif;
}

.news-section {
    margin-top: 40px;
}

.news-section h2 {
    font-size: 28px;
    font-weight: bold;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    transition: box-shadow 0.3s ease-in-out;
    height: 100%;
}

.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-img-top {
    width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: cover;
}

.card-body {
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.card-title {
    font-size: 18px;
    font-weight: bold;
}

.card-text {
    font-size: 14px;
    color: #555;
    margin-bottom: 10px;
    flex-grow: 1;
}

.btn-dark {
    width: 100%;
    padding: 10px;
    margin-top: auto;
}

.footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
}

.footer h5 {
    margin-bottom: 10px;
}

.footer p {
    margin: 0;
}

.text-dark {
    text-decoration: none;

}